@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(img/hero.png);
    width: 100%;
    min-height: 820px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: sticky;
    position: relative;
}

.navbar-bg {
    position: absolute;
    top:0;
    right: 0;
    min-width: 1031px;
}

.nav-section img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 185px;
}

.navigation {
    position: absolute;
    color: #000;
    z-index: 1;
    width: 100%;
}

.navigation-list {
    display: flex;
    justify-content: flex-end;
    margin: 45px 90px 0 0;
}

.navigation-list-item {
    margin-left: 28px;
    font-weight: 600;
}

.navigation-list-item a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navigation-list-item a span{
    color: #02aceb;
}

.product-images {
    position: relative;
    width: 100%;
}

.product-info {
    position: absolute;
    width: 310px;
    height: 180px;
    left: 360px;
    top: 575px;
    color: #fff;
}

.product-info h1 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 120%;
    font-weight: 700;
}

.product-info p {
    font-size: 20px;
    font-weight: 500;
    line-height: 115%;
}

.kefir-image {
    position: absolute;
    top: 316px;
    left: 177px;
    z-index: 3
}

.green-rectangle {
    position: absolute;
    top: 520px;
    left: 100px;
}

.about-section-wrapper {
    margin-top: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 86px 0 100px;
}

.about-section-wrapper h2 {
    font-size: 35px;
    line-height: 120%;
}

.about-section-wrapper h2 span{
    font-size: 36px;
    font-weight: 700;
}

.about-section-wrapper p {
    font-size: 16px;
    line-height: 120%;
    margin-top: -15px;
}

.about-section-wrapper p span{
    font-weight: 600;
}

.first-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    margin-right: 85px;
}

.second-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.image-box2 {
    margin-left: 125px;
}

.content-box2 {
    text-align: right;
}

.third-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.image-box3 {
    margin-right: 85px;
}

.services-wrapper {
    margin-top: 232px;
}

.services-rectangle-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.second-green-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 733px;
    height: 174px;
    margin-top: -87px;
    margin-left: -367px;
}

.dot {
    position: absolute;
    right: 355px;
    top: 110px;
}

.services-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px 50px 70px;
    margin-top: -30px;
}

.services-info-wrapper h3 {
    width: 733px;
    z-index: 1;
    padding: 0px 80px 50px 70px;
    text-transform: uppercase;
    line-height: 110%;
    color: #fff;
    font-weight: 600;
}

.usages-wrapper {
    margin-top: 135px
}

.usages-wrapper h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.usages-wrapper p {
    margin-top: 135px;
    font-size: 20px;
}

.products-wrapper {
    display: flex;
}






