@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(img/hero.png);
    width: 100%;
    min-height: 820px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: sticky;
    position: relative;
}

.navbar-bg {
    position: fixed;
    top:0;
    right: 0;
    width: 950px;
    z-index: 100;
}

.nav-section img {
    position: fixed;
    z-index: 4001;
    top: 0;
    left: 10vw;
}

.navigation {
    position: fixed;
    color: #000;
    z-index: 1;
    width: 100%;
    z-index: 101;

}

.navigation-list {
    display: flex;
    justify-content: flex-end;
    margin: 35px 10vw 0 0;
}

.navigation-list-item {
    margin-left: 28px;
    font-weight: 600;
}

.navigation-list-item a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navigation-list-item a span{
    color: #02aceb;
}

.product-images {
    position: relative;
    width: 100%;
}

.product-info {
    position: absolute;
    width: 310px;
    height: 180px;
    left: 340px;
    top: 405px;
    color: #fff;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 120%;
    font-weight: 700;
}

.product-info p {
    font-size: 18px;
    font-weight: 500;
    line-height: 115%;
}

.kefir-image {
    position: absolute;
    top: 220px;
    left: 207px;
    z-index: 3;
    width: 100px;
}

.green-rectangle {
    position: absolute;
    top: 375px;
    left: 9.7vw;
    width: 500px;
}

.about-section-wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9.7vw 0 9.7vw;
}

.about-section-wrapper h2 {
    font-size: 35px;
    line-height: 120%;
}

.about-section-wrapper h2 span{
    font-size: 36px;
    font-weight: 700;
}

.about-section-wrapper p {
    font-size: 16px;
    line-height: 120%;
    margin-top: -15px;
}

.about-section-wrapper p span{
    font-weight: 600;
}

.first-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    margin-right: 85px;
}

.second-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.image-box2 {
    margin-left: 125px;
}

.content-box2 {
    text-align: right;
}

.third-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.image-box3 {
    margin-right: 85px;
}

.services-wrapper {
    margin-top: 170px;
}

.services-rectangle-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.second-green-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 733px;
    height: 174px;
    margin-top: -87px;
    margin-left: -367px;
}

.dot {
    position: absolute;
    bottom: -30px;
    right: 18%;
}

.services-info-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 9.7vw 30px 9.7vw;
    /* margin-top: -30px; */
}

.services-info-wrapper h3 {
    width: 80%;
    z-index: 1;
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    line-height: 125%;
    color: #fff;
    font-weight: 600;
    background-color: #77c100;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.usages-wrapper {
    margin-top: 135px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usages {
    max-width: 1030px;
    text-align: center;
}

.usages h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.usages h2 span {
    font-weight: 700;
}


.usages p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    font-weight: 500;
}

.products-wrapper {
    width: 100%;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
}

.products-wrapper img {
    width: 100%;
    height: 100%;
}

.products-wrapper h3 {
    margin-top: 85px;
    text-align: left;
    font-size: 22px;
}

.products-wrapper h3 span {
    font-weight: 700;
}

.products-wrapper p {
    text-align: left;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
}

.left-product {
    max-width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-product {
    max-width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-product h3 {
    margin-top: 47px;
}

.second-usages-wrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-usages {
    max-width: 1030px;
    text-align: center;
}

.second-usages h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.second-usages h2 span {
    font-weight: 700;
}

.second-usages p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 115%;
    font-weight: 500;
}

.woman-images-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.first-woman-container  {
    width: 50vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.second-woman-container  {
    width: 50vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.first-woman-container img {
    width: 100%;
    /* position: sticky; */
    left: 0;
}

.second-woman-container img {
    width: 100%;
    /* position: sticky; */
    right: 0;
}

.cure-wrapper {
    width: 100%;
}

.cure-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cure-title-wrapper h3 {
    font-size: 24px;
    padding: 0 3vw;
    text-align: center;
}

.cure-title-wrapper h3 span {
    font-weight: 600;
}

.cure-services-wrapper {
    display: flex;
    padding: 65px 9.7vw;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.cure-service-item {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.cure-service-item h3 {
    font-size: 24px;
    text-align: left;
    align-self: flex-start;
}

.cure-service-item p {
    font-size: 24px;
    text-align: left;
    align-self: flex-start;
}


.cure-first-item h3 {
    color: #02aceb;
}

.cure-second-item h3 {
    color: #93c435;
}

.cure-third-item h3 {
    color: #e71c3c;
}

.cure-service-item h3 span {
    font-weight: 600;
}

.cure-service-item p {
    font-size: 16px;
}

.cure-service-item p span {
    font-weight: 600;
}

.cure-second-item {
    /* margin: 0 9.7vw; */
}

.footer-container {
    width: 100%;
    height: 110px;
    background-color: #f5f7f8;
    font-size: 14px;
}

.first-footer-paragraph {
    display: flex;
    padding: 30px 9.7vw 0 9.7vw;
}

.first-footer-paragraph p {
    margin-right: 20px;
    font-weight: 500;
}

.second-footer-paragraph {
    display: flex;
    padding: 30px 9.7vw;
    justify-content: space-between;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
    .first-about-container {
        flex-direction: column-reverse;
    }

    .first-about-container .content-box {
        margin: 0 9.7vw 50px 9.7vw;
    }

    .second-about-container {
        flex-direction: column;
    }

    .second-about-container .content-box2 {
        margin: 120px 9.7vw 50px 9.7vw;
    }

    .image-box2 {
        margin-left: 0px;
    }

    .image-box, .image-box3 {
        margin-right: 0px;
    }

    .third-about-container {
        flex-direction: column-reverse;
    }

    .third-about-container .content-box3 {
        margin: 120px 9.7vw 50px 9.7vw;
    }

    .content-box, .content-box2, .content-box3 {
        text-align: center;
    }


    .navbar-bg {
        width: 900px;
    }

    .navigation-list {
        margin: 40px 9.7vw 0 0;
    }

    .usages {
        padding: 0 40px;
    }

    .second-usages {
        padding: 0 40px;
    }

    .cure-wrapper {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1200px) {
    .products-wrapper, .left-product, .right-product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .products-wrapper p {
        text-align: center;
    }

}

@media screen and (max-width: 992px) {
    .nav-section img {
        width: 64px;
        left: 10vw
    }

    .product-info {
        width: 200px;
        height: 180px;
        left: 230px;
        top: 340px;
    }

    .product-info h1 {
        font-size: 22px;
    }

    .product-info p {
        font-size: 15px;
    }

    .kefir-image {
        top: 226px;
        left: 120px;
        width: 74px;
    }

    .green-rectangle {
        top: 320px;
        left: 10vw;
        width: 400px;
    }

    .about-section-wrapper {
        /* margin-top: 500px; */
    }

    .second-green-rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 467px;
        height: 137px;
        margin-top: -69px;
        margin-left: -234px;
    }

    .services-info-wrapper {
        font-size: 14px;
    }

    .services-info-wrapper h3 {
        /* width: 500px; */
        margin-top: -10px;
    }

    .cure-wrapper {
        margin-top: -200px;
    }

    .cure-services-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 9.7vw;
    }

    .cure-title-wrapper {
        width: 100%;
        padding: 0 9.7vw;
        text-align: center;
    }

    .cure-service-item {
        width: 100%;
        /* padding: 0 9.7vw; */
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        background-color: #fff;
        height: 65px;
        position: absolute;
        width: 40%;
        right: 0;
        border-bottom-left-radius: 15px;
    }

    .navbar-bg {
        display: none;
    }

    .navigation-list {
        position: fixed;
        background: #fff !important;
        height: 50vh;
        width: 40%;
        margin: 0;
        z-index: 2000;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 0.5s ease-in-out;
        pointer-events: none;
    }

    .navigation-list.open {
        clip-path: circle(1700px at 90% -30%);
        -webkit-clip-path: circle(1700px at 90% -30%);
        pointer-events: all;
    }

    .navigation-list-item {
        margin: 25px 11vw 0 0;
    }

    .navigation-list-item a {
        font-size: 16px;
    }

    .line {
        width: 25px;
        height: 3px;
        background:#02aceb;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 10vw;
        top: 20px;
        z-index: 3505;
    }

    .navigation-list-item {
        opacity: 0;
    }

    .navigation-list-item:nth-child(1) {
        transition: all 0.2s ease 0.2s;
        margin-top: 100px;
    }

    .navigation-list-item:nth-child(2) {
        transition: all 0.2s ease 0.3s;
    }

    .navigation-list-item:nth-child(3) {
        transition: all 0.2s ease 0.4s;
    }

    .navigation-list-item:nth-child(4) {
        transition: all 0.2s ease 0.5s;
    }

    .navigation-list-item:nth-child(5) {
        transition: all 0.2s ease 0.6s;
    }

    .navigation-list-item.fade {
        opacity: 1;
    }

    .kefir-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .product-info {
        color: #fff;
        position: absolute;
        margin: 0 0 0 22vw;
        /* text-shadow: 2px 2px 2px #000; */
        text-align: left;
        width: 300px;
        z-index: 1000;
        width: 220px;
        left: 0;
    }

    .green-rectangle {
        width: 300px;
        margin: 10px 0 0 10vw;
        position: absolute;
    }

    .kefir-image {
        display: none;
    }

    .nav-section img {
        position: absolute;
        z-index: 4001;
        top: 0;
        left: 10vw;
    }

    .about-section-wrapper h2 {
        font-size: 30px;
        line-height: 120%;
    }

    .about-section-wrapper h2 span {
        font-size: 30px;
        line-height: 120%;
    }

    .about-section-wrapper {
        width: 100%;
        margin-top: 10px;
    }

    .first-about-container, .second-about-container, .third-about-container {
        width: 100%;
    }

    .image-box img, .image-box2 img, .image-box3 img {
        width: 80vw;
        padding: 0px 9.7vw;
    }

    .content-box, .content-box2, .content-box3 {
        width: 100%;
        padding: 0px 9.7vw;
    }

    .cure-wrapper {
        margin-top: -300px;
    }
}

@media screen and (max-width: 576px) {
    .hero {
        height: 100vh;
        background-position: 55% 45%;

    }

    .nav-section img {
        left: 10vw;
    }

    .product-info {
        color: #fff;
        position: absolute;
        margin: 32px 0 0 12.5vw;
        /* text-shadow: 2px 2px 2px #000; */
        text-align: left;
        z-index: 1000;
        width: 280px;
    }

    .green-rectangle {
        width: 285px;
        margin: 40px 0 0 10vw;
        left: 0;
        position: absolute;
    }

    .about-section-wrapper h2 {
        font-size: 30px;
        line-height: 120%;
    }

    .about-section-wrapper h2 span {
        font-size: 30px;
        line-height: 120%;
    }

    .about-section-wrapper {
        margin-top: 70px;
        padding: 0 9.7vw 0 9.7vw;
    }

    .first-about-container .content-box {
        margin: 0 9.7vw 50px 9.7vw;
    }

    .second-about-container {
        flex-direction: column;
    }

    .second-about-container .content-box2 {
        margin: 120px 9.7vw 50px 9.7vw;
    }

    .third-about-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .third-about-container .content-box3 {
        margin: 120px 9.7vw 50px 9.7vw;
    }

    .content-box, .content-box2, .content-box3 {
        padding: 0;
    }

    .second-green-rectangle {
        display: none;
    }

    .dot {
        right: 10%;
    }

    .services-info-wrapper {
        margin-top: -100px;
    }

    .services-info-wrapper h3 {
        font-size: 16px;
        width: 100%;
    }

    .first-footer-paragraph {
        display: flex;
        /* padding: 30px 9.7vw 0 9.7vw; */
        justify-content: space-between;
    }

    .second-footer-paragraph {
        display: flex;
        /* padding: 30px 9.7vw; */
        justify-content: space-between;
    }

    .usages, .second-usages {
       text-align: center;
       padding: 0 9.7vw;
    }

    .usages h2 {
        font-size: 30px;
        text-transform: uppercase;
    }

    .products-wrapper h3 {
        text-align: center;
    }


    .cure-services-wrapper {
        padding: 20px 9.7vw;
    }

    .cure-wrapper {
        margin-top: -380px;
    }

    .cure-title-wrapper {
        /* padding: 0 9.7vw; */
        text-align: left;
    }

    .cure-service-item {
        width: 100%;
        /* padding: 60px 9.7vw; */
    }

    .footer-container {
        margin-top: 100px;
    }
}

@media screen and (max-width: 400px) {
    .cure-wrapper {
        margin-top: -550px;
    }
}

@media screen and (max-width: 320px) {
    .cure-service-item {
        margin-top: 50px;
    }
}

@media screen and (max-width: 250px) {
    .cure-service-item {
        margin-top: 100px;
    }
}






